@model Ogrenci
@{
    ViewData["Title"] = "EditStudent";
}

<div class="container mt-4">
    <h1 class="mb-4">Öğrenci Düzenle</h1>
    <form asp-action="EditStudent" asp-controller="OgrenciController" method="post" class="card card-body shadow-sm">
        <div class="mb-3">
            <label asp-for="OgrenciAd" class="form-label">Ad:</label>
            <input asp-for="OgrenciAd" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OgrenciSoyAd" class="form-label">Soyad:</label>
            <input asp-for="OgrenciSoyAd" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OgrenciNumarasi" class="form-label">Numara:</label>
            <input asp-for="OgrenciNumarasi" class="form-control" />
        </div>
        <input asp-for="OgrenciId" type="hidden" />
        <div class="text-end">
            <input type="submit" value="Kaydet" class="btn btn-primary" />
        </div>
    </form>
</div>
