@{
    ViewData["Title"] = "Home Page";
}
<body class="bg-light">

    <div class="container text-center mt-5">
        <div class="p-5 bg-white rounded shadow">
            <h1 class="display-4">Hoş Geldiniz</h1>
            <p class="lead">
                <a href="https://docs.microsoft.com/aspnet/core" target="_blank">ASP.NET Core ile Web uygulamaları oluşturmayı öğrenin</a>.
            </p>
        </div>
    </div>

</body>
</html>
